<div class="column is-one-quarter">
	<% if user_signed_in? %>
		<div class="panel">
			<p class="panel-heading" style="text-align: center; font-weight: bold;">Perfil</p>
			<div class="panel-block">
				<div class="media">
					<figure class="media-left">
						<p class="image is-64x64">
							<a href="/profile"><%= gravatar_image_tag(current_user.email)%></a>
						</p>
					</figure>
					<div class="media-content">
						<strong><%= link_to current_user.name, edit_user_registration_path %></strong><br>
						<small>@<%= current_user.username %></small>
					</div>
				</div>
			</div>
			<div class="panel-block">
				<div class="media-content" style="text-align: center;">
					<p style="font-weight: bold; color: #209CEE"><i style="font-weight: bold;" class="fa fa-twitter"></i></p>
					<p><%= current_user.tweets.count %></p>
				</div>
				<div class="media-content" style="text-align: center;">
					<p  style="font-weight: bold; color: #E0245E;"><i class="fa fa-heart"></i></p>
					<p>450K</p>
				</div>
				<div class="media-content" style="text-align: center;">
					<p style="font-weight: bold;"><i style="font-weight: bold;" class="fa fa-user"></i></p>
					<p>40K</p>
				</div>
			</div>
		</div>
	<% end %>
	<div class="panel">
		<p class="panel-heading" style="text-align: center; font-weight: bold;">Trends <i class="fa fa-rss" style="color: #42C7F9;"></i></p>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#Python melhor que Java!</strong><br>
					<small style="color: gray;">100K Tweets</small>
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#SouDevOps!</strong><br>
					<small style="color: gray;">31.5K Tweets</small>
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#Todo Dev e corno!!</strong><br>
					<small style="color: gray;">59.1K Tweets</small>
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#Sublime melhor que VSCode</strong><br>
					<small style="color: gray;">21.3K Tweets</small>
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#Ruby em 2019></span>!</strong><br>
					<small style="color: gray;">31.5K Tweets</small>
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					<strong>#Infra>Dev!</strong><br>
					<small style="color: gray;">2.5K Tweets</small>
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>
	</div>
</div>