<div class="column is-one-quarter">
	
	<div class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="https://bulma.io/images/placeholders/64x64.png">
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<strong><%= current_user.name %></strong><br/>
				<small>@<%= current_user.username %></small>
			</div>
		</div>
	</div>

	<div class="panel">
		<p class="panel-heading">Trends</p>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

	</div>
</div>