<div class="column is-one-quarter">
	<% if user_signed_in? %>
		<div class="panel">
			<p class="panel-heading" style="text-align: center; font-weight: bold;">Perfil</p>
			<div class="panel-block">
				<div class="media">
					<figure class="media-left">
						<p class="image is-64x64">
							<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.email)%>
						</p>
					</figure>
					<div class="media-content">
						<strong><%= link_to current_user.name, edit_user_registration_path %></strong><br>
						<small>@<%= current_user.username %></small>
					</div>
				</div>
			</div>
			<div class="panel-block">
				<div class="media-content">
					<p class="heading" style="font-weight: bold;">Tweets</p>
					<p><%= current_user.tweets.count %></p>
				</div>
				<div class="media-content">
					<p class="heading" style="font-weight: bold;">LIKES</p>
					<p>450K</p>
				</div>
				<div class="media-content">
					<p class="heading" style="font-weight: bold;">FOLLOWS</p>
					<p>40K</p>
				</div>
			</div>
		</div>
	<% end %>
	<div class="panel">
		<p class="panel-heading" style="text-align: center; font-weight: bold;">Trends</p>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

		<div class="panel-block">
			<div class="media-content">
				<div class="content">
					Teste
				</div>
			</div>
		</div>

	</div>
</div>