<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<%= gravatar_image_tag('felipe.araujo@hubfintech.com.br', size: 64, alt: 'felipe.araujo@hubfintech.com.br')%>
					</figure>
				</div>
				<div class="media-content">
				<div class="content">
					<p>
						<strong>Felipe Austríaco</strong>
						<small>@lainOnrails</small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<%= gravatar_image_tag('felipe.araujo@hubfintech.com.br', size: 64, alt: 'felipe.araujo@hubfintech.com.br')%>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Felipe Austríaco</strong>
						<small>@lainOnrails</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<%= gravatar_image_tag('felipe.araujo@hubfintech.com.br', size: 64, alt: 'felipe.araujo@hubfintech.com.br')%>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Felipe Austríaco</strong>
						<small>@lainOnrails</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>